$color_1: black;
$color_2: #ff4564;
$color_3: white;
$color_6: red;

$background-color_1: white;

div.catalogo {
	width: 100%;
	margin-top: 30px;
	text-align: center;
	display: flex;
	text-align: center;
	align-items: center;
	display: inline-block;
	margin-bottom: 30px;
}
div.card.item {
	width: 180px;
	display: inline-block;
	margin-right: 50px;
  margin-left: 50px;
	margin-top: 50px;
  border: none;
}
img.card-img {
	height: 200px;
}
a {
	+ {
		p {
			text-decoration: none;
		}
	}
}
a.text {
	text-decoration: none;
	p.text {
		color: $color_2;
		font-size: 18px;
		text-decoration: none;
		margin: 0px;
		&:hover {
			color: $color_1;
			text-decoration: none;
			font-size: 18px;
		}
		&:active {
			text-decoration: none;
		}
	}
	p.price {
		color: $color_1;
		padding: 0;
		margin: 0px;
		font-weight: bold;
	}
}
p.rebaja {
	color: $color_6;
	padding: 0;
	margin: 0px;
	font-weight: bold;
}
div.group {
	background-color: $background-color_1;
	>i.fas {
		color: $color_3;
		text-decoration: none;
		font-size: 20px;
		transition: 0.35s ease-in-out;
		position: absolute;
		top: 5px;
		right: 5px;
		display: inline-block;
		&:hover {
			color: $color_6;
			text-decoration: none;
			font-size: 28px;
			transition: 0.35s ease-in-out;
			position: absolute;
		}
		&:checked {
			color: $color_6;
			text-decoration: none;
			font-size: 28px;
			transition: 0.35s ease-in-out;
			position: absolute;
		}
	}
}
