$background-color_4: white;
$background-color_5: rgb(212, 208, 208);
$color_1: black;
$color_3: white;

#navbar{
  padding: 0 0;
  background-color: $background-color_4;
}

ul#nav-items{
  position: absolute;
  justify-content: right;
  text-align: right;
  display: flex;
  width: 100%;
  background-color: $background-color_4;
  right: 0%;
  font-style: italic;
  padding: 10px 10px;

}
ul>li.active{

  font-weight: bold;
  font-style: italic;
  background-color: $background-color_5;
}

li a.nav-link:hover{
  background-color: $background-color_5;
  color: white;
}


