<div id="banner" class="banner items">
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/abrigo.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Abrigos.</p>

    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/chaqueta.jpg" alt="Card image cap" aria-placeholder="Imagen de una Chaqueta">
    <div class="card-body">
      <p class="card-text">Chaquetas</p>
    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/pantalones.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Pantalones</p>
    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/deporte.jpg" alt="Card image cap" aria-placeholder="Imagen de una Chaqueta">
    <div class="card-body">
      <p class="card-text">Ropa deportiva</p>
    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/corbatas.jpg" alt="Card image cap" aria-placeholder="Imagen de una Chaqueta">
    <div class="card-body">
      <p class="card-text">Corbatas</p>
    </div>
  </div>
</div>
