$background-color:rgb(255, 69, 100);

.card {
  width: 35%;
  margin: 10px;
}

.banner {
  width: 95%;
}

.item {
  min-width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-height: 30%;

}

.items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.title-banner{
  color: white;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  font-size: 2em;
}

div.cuerpo-categorias{
  background-color: $background-color;
}
