<div id="catalogo" class="catalogo items">
  <div class="card item"><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/abrigo.jpg" alt="Imagen de una Abrigo">
    <p class="text">Womens Coats</p>
    <p class="price">15€</p></a>
    <div class="group">
      <i class="fas fa-heart"></i>
    </div>
  </div>
   <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/chaqueta.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Womens jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/pantalones.jpg" alt="Imagen de una Pantalones">
      <p class="text">Winter jeans</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/deporte.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Women´s jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/corbatas.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Women´s jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/abrigo.jpg"alt="Imagen de una Pantalones">
      <p class="text">Winter jeans</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/chaqueta.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Women´s jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/pantalones.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Women´s jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/corbatas.jpg" alt="Imagen de una Pantalones">
      <p class="text">Winter jeans</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/deporte.jpg" alt="Imagen de una Chaqueta">
      <p class="text">Women´s jackets</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/pantalones.jpg" alt="Imagen de una Pantalones">
      <p class="text">Winter jeans</p>
      <p class="price">15€</p></a>
      <div class="group">
        <i class="fas fa-heart"></i>
      </div>
  </div>
  <div class="card item" ><a class="text" [routerLink]="['/ficha']">
    <img class="card-img" src="./assets/img/chaqueta.jpg" alt="Imagen de una Chaqueta">
    <p class="text">Winter jeans</p>
    <p class="price">15€</p></a>
    <div class="group">
      <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
