<div id="kanban" *ngIf="articuloFicha">
  <div *ngFor="let articulo of articuloFicha">
  <div class="column_1">
    <div class="card" >
      <div class="tags" >
        <img src={{articulo.getImage()}} alt="perfil">
      </div>
    </div>
  </div>
 <div class="column column_2">
    <div class="tags">
      <div class="tag_line">
        <hr class="line_4">
        <p class="cuerpo">{{articulo.getTitulo()}}</p>
        <span class="punto"></span>
        <p class="line_text">{{articulo.getPrecio()}} €</p>
        <p class="line_text" [ngClass]="articulo.getRebaja() ? 'rebaja' : 'noRebaja'">{{articulo.getRebaja()}} €</p>
      </div>
      <div class="tag_line">
        <p class="size_title">Size:</p>
        <div class="size">XS</div>
        <div class="size">S</div>
        <div class="size">M</div>
        <div class="size">L</div>
        <div class="size">XL</div>
        <div class="size">XXL</div>
      </div>
    </div>
  </div>
   </div>
  </div>


