$color_1: black;
$color_2: #ff4564;
$color_3: white;
$color_6: red;

$background-color_1: white;

div.articulo{
	width: 250px;
  height: 300px;
  margin: 20px;
  text-align: center;

}

img.card-img {
  width: 250px;
	height: 300px;
  &:hover {
    width: 255px;
    height: 305px;
    transition: 0.35s ease-in-out;
  }
}

a {
	+ {
		p {
			text-decoration: none;
		}
	}
}
a.text {
	text-decoration: none;
  cursor: pointer;

	p.text {
		color: $color_2;
		font-size: 18px;
		text-decoration: none;
		margin: 0px;
		&:hover {
			color: $color_1;
			text-decoration: none;
			font-size: 18px;

		}
		&:active {
			text-decoration: none;
		}
	}
	label.price {
		color: $color_1;
		padding: 0;
		margin: 0px;

	}
}
label.rebaja {
	color: $color_6;
	padding: 0;
	margin: 10px;
	font-weight: bold;

}
div.fav {
	background-color: $background-color_1;
	>i.fas {
		color: $color_3;
		text-decoration: none;
		font-size: 20px;
		transition: 0.35s ease-in-out;
		position: absolute;
		top: 5px;
		right: 5px;
		display: inline-block;
		&:hover {
			color: $color_6;
			text-decoration: none;
			font-size: 28px;
			transition: 0.35s ease-in-out;
			position: absolute;
		}
		&:checked {
			color: $color_6;
			text-decoration: none;
			font-size: 28px;
			transition: 0.35s ease-in-out;
			position: absolute;
		}
	}
}
