
img.mat-card-image{
  width: 100%;
  height: 100%;
  padding: 0px;
  min-height: 220px;

}
.mat-mdc-card-content{
  padding: 0;
}

.card-content{
  padding: 0px;

}

p.card-title{
  padding: 10px 5px 0px 5px;
}
p.card-price{
  padding: 0px auto 0px;
}
div.precio{
  text-align: center;
  justify-content: center;
}

label.rebaja {

	color: red;
  margin-left: 10px;
  font-size: large;
	font-weight: bold;

}

