<section >
  <mat-card-content class="card-content" *ngIf="articulo" [routerLink]="['/ficha', articulo.getId()]">
  <a><img class="mat-card-image" src={{articulo.getImage()}} [alt]="articulo.getTitulo()">
    <p class="card-title">
      {{articulo.getTitulo()}}
    </p>
    <div class="precio">
      <label class="class-price" [ngClass]="{'rebajas':articulo.getRebaja()}"> {{articulo.getPrecio() | currency:'EUR':'symbol':'1.2-2':'es'}}</label >
        <ng-template [ngIf]="articulo.getRebaja()">
        <label class="rebaja">{{articulo.getRebaja() | currency:'EUR':'symbol':'1.2-2':'es'}}</label>
        </ng-template>
    </div></a>
  </mat-card-content>

  </section>
  <div id="group">
    <i class="fas fa-heart"></i>
  </div>
