$background-color_2: rgb(255, 69, 100);


div#carousel {
	background-color: $background-color_2;
	padding-bottom: 30px;
  width: 100%;
  padding: 0px 20%;
}

.ng-image-slider {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width:912px){
  div#carousel {
    padding: 0px 12%;
  }
}
