$color_3: white;
$color_4: wheat;

$background-color_2: rgb(255, 69, 100);

div.cuerpo-categorias {
	background-color: $background-color_2;
	padding-bottom: 30px;
}
div#carousel {
	width: 65%;
	margin: 0 auto;
}

div#cuerpo-categorias {
	width: 100%;
	position: relative;
	margin: 0 auto;
	p {
		float: left;
		justify-content: center;
		text-align: center;
	}
}
div.carousel-link{
	width: 65%;
	margin: 0 auto;

}
div.row{
  width: 100%;
  margin: 0 auto;

}

div.col>div{
 width: 100%

}
.title-banner {
	color: $color_3;
	text-align: center;
	margin-top: 5px;
	padding: 10px;
	font-size: 2em;
}
img {
	width: 100%;
	min-height: 160px;
	position: relative;
}

p.card-text {
  width: 100%;
  padding: 0 15px;
  margin: 5px;

	a {
		color: $color_3;
    text-decoration: none;
    text-align: center;



		&:hover {
			color: $color_4;
			text-decoration: none;
			font-size: 18px;
		}
		&:active {
			text-decoration: none;
		}
	}
}
ul {
	-webkit-columns: 5;
	-moz-columns: 5;
	columns: 5;
}
li {
	list-style: none;
}
