/* You can add global styles to this file, and also import other style files */
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: rgb(207, 203, 203);
$background-color_2: white;

* {
	box-sizing: border-box;
}
body {
	padding: 15px;
	font-family: $font-family_1;
}
.body {
	background-color: $background-color_1;
}
.content {
	width: 70%;
	margin: 0 auto;
	background-color: $background-color_2;
}

