.banner {
  width: 95%;
}

.card {
  width: 35%;
  margin: 10px;
}

.item {
  min-width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

