$color_1: rgb(255, 69, 100);
$color_2: white;

.banner {
	width: 95%;
	margin: 0 auto;
}
.card {
	width: 35%;
	margin: 10px;
}
.item {
	min-width: 30%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.items {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.title-banner {
	color: $color_1;
	text-align: center;
	margin-top: 5px;
	padding: 5px;
}
p.card-text {
	position: absolute;
	top: 75%;
	left: 10%;
	font-weight: bold;
	color: $color_2;
	height: 0;
	border: none;
}
img {
	position: relative;
}
