<h1 class="title-banner">Las mejores prendas y accesorios, están aquí!</h1>

<div id="banner" class="banner items">
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/abrigo.jpg" alt="Card image cap">
      <p class="card-text">Women's Coats</p>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/chaqueta.jpg" alt="Card image cap" aria-placeholder="Imagen de una Chaqueta">
      <p class="card-text">Women´s jackets</p>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/pantalones.jpg" alt="Card image cap">
      <p class="card-text">Winter jeans</p>
  </div>
</div>
