

<div id="banner" class="banner items">
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/abrigo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/chaqueta.jpg" alt="Card image cap" aria-placeholder="Imagen de una Chaqueta">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
  <div class="card item" style="width: 18rem;">
    <img class="card-img-top" src="./assets/img/pantalones.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
  </div>
</div>
