<Header>
  <h1 class="title">SOBRE NOSOTROS</h1>

  <img class="nosotros" src="./assets/img/abrigo.jpg" alt="Imagen de una Abrigo">
</Header>
<Section>
  <P class="text">Somos un equipo completamente distribuido de 77 personas que viven y trabajan en 20 países alrededor del mundo. Y estamos trabajando para crear
    los mejores productos para ayudar a nuestros clientes a desarrollar sus marcas y hacer crecer sus negocios en las redes sociales.</P>

    <img class="mundo" src="./assets/img/mundo.jpg" alt="Imagen de una Abrigo">

  <p class="text">Siempre hemos tenido como objetivo hacer las cosas un poco diferentes en Buffer. Desde los primeros días, nos hemos centrado en construir uno
    de los lugares de trabajo más exclusivos y satisfactorios al repensar muchas prácticas tradicionales.

    El compromiso de apoyar a nuestro equipo y a nuestros clientes ha ayudado a Buffer a crecer desde sus humildes comienzos hasta ahora sirviendo
    a más de 140 000 usuarios. Nuestra pasión por hacer conexiones significativas fluye a través de todo lo que hacemos.

    Nos preocupamos por crear un producto de calidad, relaciones de confianza con nuestros clientes y un sentido de comunidad que conecte a nuestros
    clientes y equipo entre sí.

    Para obtener más información sobre nuestro enfoque de los negocios y el trabajo, no dude en visitar nuestro blog abierto.</p>
</Section>
